* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 30px;
}

#play {
    padding: 10px 30px;
    margin-top: 30px;
}

.other-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#main-timer {
    width: 200px;
    height: 200px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numeri-da-ricordare {
    width: 800px;
    height: 200px;
    background-color: darkblue;
    color: white;
    font-weight: bold;

}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}