* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    text-align: center;
    margin-top: 30px;
}

#play {
    padding: 10px 30px;
    margin-top: 30px;
}

.other-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#main-timer {
    width: 200px;
    height: 200px;
    background-color: darkblue;
    color: red;
    font-weight: bold;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numeri-da-ricordare {
    width: 800px;
    height: 200px;
    background-color: darkblue;
    color: white;
    font-size: 80px;
    vertical-align: middle;
    line-height: 200px;

}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

#alert-msg {
    width: 500px;
    height: 200px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 70px;
    padding-top: 20px;
}


#esito {
    width: 500px;
    height: 200px;
    background-color: yellow;
}